! -*- ospf -*-
!
! OSPFd sample configuration file
!
hostname vlsr-ospf
password dragon
enable password dragon
log stdout
! log file /var/log/ospfd.log
!
! NOTE: max. bandwidth parameters are in bytes/sec, for example:
!   1 Gbps = 125000000 bytes/sec
!  10 Gbps = 1250000000 bytes/sec
!
! -*- sample ospf configuration for a dragon VLSR controlling a Layer2 Ethernet switch -*-
!
!interface gre1
! description GRE tunnel between vlsr1 and vlsr2 
! ip ospf network point-to-point
!
!interface gre2
! description GRE tunnel between vlsr1 and vlsr3 
! ip ospf network point-to-point
!
!router ospf
! ospf router-id 10.100.0.11 
! network 10.100.0.64/30 area 0.0.0.0
! network 10.100.0.80/30 area 0.0.0.0
!  ospf-te router-address 10.100.0.11 
!  ospf-te interface gre1
!       level gmpls 
!       data-interface ip 10.100.0.69 protocol snmp switch-ip 10.1.1.2 switch-port 2 
!       swcap l2sc encoding ethernet 
!       max-bw 125000000
!       max-rsv-bw 125000000
!       max-lsp-bw 0 125000000
!       max-lsp-bw 1 125000000
!       max-lsp-bw 2 125000000
!       max-lsp-bw 3 125000000
!       max-lsp-bw 4 125000000
!       max-lsp-bw 5 125000000
!       max-lsp-bw 6 125000000
!       max-lsp-bw 7 125000000
!       vlan 100 to 200
!       metric 10
!     exit 
!  ospf-te interface gre2
!       level gmpls 
!       data-interface ip 10.100.0.86 protocol snmp switch-ip 10.1.1.2 switch-port 3 
!       swcap l2sc encoding ethernet 
!       max-bw 125000000
!       max-rsv-bw 125000000
!       max-lsp-bw 0 125000000
!       max-lsp-bw 1 125000000
!       max-lsp-bw 2 125000000
!       max-lsp-bw 3 125000000
!       max-lsp-bw 4 125000000
!       max-lsp-bw 5 125000000
!       max-lsp-bw 6 125000000
!       max-lsp-bw 7 125000000
!       vlan 100 to 200
!       metric 10
!     exit 
!
!
! -*- sample ospf configuration for a dragon end-host -*-
!
!interface gre1
! description GRE tunnel between end-host and vlsr
! ip ospf network point-to-point
!
!router ospf
! ospf router-id 10.100.0.5
! network 10.100.0.88/30 area 0.0.0.0
!  ospf-te router-address 10.100.0.5
!  ospf-te interface gre1
!       level gmpls
!       data-interface ip 10.100.0.94
!       swcap l2sc encoding ethernet
!       max-bw 125000000
!       max-rsv-bw 125000000
!       max-lsp-bw 0 125000000
!       max-lsp-bw 1 125000000
!       max-lsp-bw 2 125000000
!       max-lsp-bw 3 125000000
!       max-lsp-bw 4 125000000
!       max-lsp-bw 5 125000000
!       max-lsp-bw 6 125000000
!       max-lsp-bw 7 125000000
!       vlan 100 to 200
!       metric 10
!     exit
!
!
!
! line vty
!

