Syntax of configuration file
============================

'interface' <name>
	['refresh' rate]
	['virt' virt-addr virt-MTU]
	['encap' local-port remote-addr remote-port {remote-port} ...]
	['tc' 'none'|'cbq'|'hfsc'|'rate' bandwidth latency]
	['disable']
	['mpls']
	['nompls']

'route' destination netmask gateway iface-name
'api' port
'timer' total-period-in-seconds number-of-slots resolution-in-usec
'threads' number
'session_hash' number
'api_hash' number
'mpls_all'
'nompls_all'
'peer' interface address <distance>

Units
-----
rate -> milliseconds
latency -> microseconds
bandwidth -> MBit/s
MTU -> bytes
total-period -> seconds
resolution -> microseconds
load-threshold -> [0,1] float
wtp-threshold -> marks per hour
interface -> ip address
distance -> hop count
all other parameters -> IP address resp. port numbers

Example
-------
interface xl0 disable
interface xl1 tc hfsc 100000000 10000
interface xl2 tc cbq 100000000 10000 refresh 25000
interface virt0 encap 4711 127.0.0.1 4712
timer 600 30000 10000
session_hash 8192

api 4000
