# This is for UNI to work, if you're not using UNI, forget about this.
# Otherwise, put your respected ES information in this file and 
# copy it to /usr/local/etc/ast_master.conf
# 
# syntax:
# set es <ES ip> <vlsr loopback/router_id> <tunnel>
# where <tunnel> has to be the same on both sides (ES and VLSR) 
# any line format other than the above "set es .." will be ignored
#
# i.e. if you are setting gre1 on ES as a control plane channel to VLSR;
# then, you should also use gre1 on VLSR as a control plane channel to ES.
#
# example:
# set es 127.0.0.1 100.10.1.233 gre4 
